<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88198790949-v8k50muscmnm37ed867q8kv76502g3tv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88198790949-v8k50muscmnm37ed867q8kv76502g3tv</string>
	<key>API_KEY</key>
	<string>AIzaSyC3reebMr9i4EfXu5_7pS_erWN-bVSKKtE</string>
	<key>GCM_SENDER_ID</key>
	<string>88198790949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.davihoffmann.lojavirtual</string>
	<key>PROJECT_ID</key>
	<string>lojaflutter-fd6a3</string>
	<key>STORAGE_BUCKET</key>
	<string>lojaflutter-fd6a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88198790949:ios:53d9cb9e7945fcb12ea4cc</string>
	<key>DATABASE_URL</key>
	<string>https://lojaflutter-fd6a3.firebaseio.com</string>
</dict>
</plist>